*{
    margin: 0;
    padding: 0;
}

body{
    background: fixed url("../img/disney.jpg");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    color: white;
    font-size: 2.5em;
}

nav{
    clear: both;
    display: block;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    list-style-type: none;
}

nav ul li {
    height: auto;
    width: 180px;
    text-align: center;
    font-size: 2em;
    padding: 10px 10px;
    border-radius: 10px;
}

nav ul li:hover{
    transition: all 0.5s ease;
    background-color: red;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li ul{
    margin: 10px -10px;
    padding: 10px 5px;
    height: 0px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background: black;
    border-radius: 10px;
    position: absolute;
}

nav ul li:hover ul {
    transition: all 1s ease;
    display: block;
    height: auto;
}

nav ul li ul li {
    text-align: center;
    font-size: 0.5em;
}

nav ul li:hover ul li{
    margin-right: auto;
    transition: all 1s ease;
    padding: 5px 5px;
}

main {
    min-height: 800px;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

main article{
    min-width: 33%;
    flex-grow: 1;
    text-align: center;
    border: solid white 2px;
    border-radius: 8px;
}


main article ul{
    list-style-type: none;
    text-align: left;
    padding: 0px 50px;
    font-size: 1.5em;
}

main article .text{
    text-align: center;
}

main aside {
    max-width: 20%;
    padding: 10px 10px;
    flex-grow: 0;
}

main .login{
    text-align: center;
    font-size: 2em;
    padding: 20px 20px;
    border-radius: 10px;
}

.login{
    color: white;
    text-decoration: none;
}

main form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 0.5em;
    visibility: visible;
    opacity: 1;
    width: inherit;
    text-align: center;
}

main form input{
    background: none;
    color: white;
    width: auto;
    border-radius: 4px;
    margin: 5px 0px;
}

main form input[type=submit]{
    align-self: center;
    padding: 5px 5px;
    margin: auto;
    color: white;
    background: none;
}

main form.abonnement{
    margin: 300px 35%;
    padding: 10px 10px;
    flex-grow: 1;
}

main form.abonnement{
    font-size: 2.5em;
}

main form.abonnement input, main form.abonnement select{
    background: none;
    padding: 10px 10px;
    color: white;
}

main form.abonnement input[type=submit]{
    transition: 1s all ease;
    font-size: 1em;
    background: black;
}

main form.abonnement input[type=submit]:hover{
    font-size: 1em;
    transition: 1s all ease;
    background: red;
}

select option{
    background: black;
}

::placeholder{
    color: white;
}

main article.filmoverzicht{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px;
}

main article.filmoverzicht a, main article.filmoverzicht a img{
    width: 400px;
}

main article.informatie{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    text-align: left;
}

main article.informatie ul{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

main article.informatie ul.type li{
    margin-bottom: 5px;
    border: solid white 2px;
    padding: 10px;
}

main article.informatie ul.resultaat li{
    background: black;
    opacity: 0.75;
    font-size: 0.75em;
    margin-bottom: 5px;
    padding: 15px;
}

main article.afspelen{
    flex-grow: 1;
}

main video{
    margin: 75px;
    width: 25%;
    flex-grow: 1;
}

main article.gastenboek {
    color: black;
    flex-grow: 1;
    clear: both;
    text-align: center;
}

main article.gastenboek ul{
    color: white;
}

main article.gastenboek ul li{
    text-align: left;
    font-size: 0.75em;
    margin-bottom: 5px;
}

main article div.text{
    overflow: hidden;
    float: right;
    text-align: right;
    max-width: 600px;
    font-size: 1.5em;
}



footer{
    clear: both;
    text-align: center;
}