body{
    background-image: url("../img/disney.jpg");
    color: white;
    font-family: "Century Schoolbook";
}

header{

}

nav{

}

nav ul{
    position: relative;
    display: inline-block;
}

nav ul li{
    display: none;
    /*position: absolute;*/
    opacity: 10;
    min-width: 160px;
}

nav ul:hover, nav ul li{
    display: block;
}

h1{
    color: white;
    text-align: center;
    font-size: 2.5em;
}

main{
    min-height: 800px;
}